			input.visa {
				background-image: url(visa.jpg);
				background-position: right;
				background-repeat: no-repeat;
			}
			input.americanexpress {
				background-image: url(americanexpress.gif);
				background-position: right;
				background-repeat: no-repeat;
			}
			input.discover {
				background-image: url(discover.jpg);
				background-position: right;
				background-repeat: no-repeat;
			}
			input.dinersclub {
				background-image: url(dinersclub.jpg);
				background-position: right;
				background-repeat: no-repeat;
			}
